fastapi==0.109.2
uvicorn==0.27.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
cryptography==42.0.5
torch==2.2.2 --index-url https://download.pytorch.org/whl/cpu
transformers==4.40.1
simpletransformers==0.64.0
huggingface-hub==0.22.2